@using RazorLight
@inherits TemplatePage<object>

@{
	Layout = "LayoutWithSection2"; /* Test main layout */
}


@section HEADER {
	<div>
		TEST <i>HEADER</i>
	</div>
}

<p>
	Hello there,
</p>
<p>
	BLA BLA BLAH
</p>
<p>
	Best regards,<br><br>
	from us.
</p>