@model SandboxMVC.TestViewModel
@inject SandboxMVC.TestViewModel injectedModel

<div>Hello @Model.Title</div>
@section Go
{
    <div>Inner section</div>
}

@{ await IncludeAsync("Attribute.cshtml", Model); }